<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Engel v. Vitale</title>

        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet/less" type="text/css" href="../static/css/sidebar.less" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>

    <body style="margin: 0px !important; background-image: linear-gradient( rgba(0,0,0,.8), rgba(0,0,0,.8) ), url(../static/images/engelbg.jpg); ">
        <div id="bg"></div>

        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    <a class="text-reset text-decoration-none" href="{{ url_for('index') }}">JOSWIN JOHN</a>
                </div>
                <div class="menu">
                    <ul class="navbarul">
                    <li><a href="{{ url_for('engel') }}" class="li-left">Engel v. Vitale</a>                                                <a href="{{ url_for('mcdonald') }}" class="li-right">McDonald v. Chicago</a></li>
                    <li><a href="{{ url_for('wisconsin') }}" class="li-left">Wisconsin v. Yoder</a>                                         <a href="{{ url_for('gideon') }}" class="li-right">Gideon v. Wainwright</a></li>
                    <li><a href="{{ url_for('tinker') }}" class="li-left">Tinker v. Des Moines Independent Community School District</a>    <a href="{{ url_for('roe') }}" class="li-right">Roe v. Wade</a></li>
                    <li><a href="{{ url_for('schenck') }}" class="li-left">Schenck v. United States</a>                                     <a href="{{ url_for('brown') }}" class="li-right">Brown v. Board of Education</a></li>
                    <li><a href="{{ url_for('nytc') }}" class="li-left">New York Times Co. v. United States</a>                             <a href="#" class="li-right"></a></li>
                    </ul>
                </div>
                </nav>
        </header>

        <section id="sec_1" class="section-home--intro text-light text-center">
            <h1 class="title" style="margin-left: 10vh;">Engel v. Vitale</h1>
            <h3>6 - 1</h3>
        </section>

        <div>
            <ul id="sidebar" class="list-unstyled">
                <li class=""><a href="#background">Background</a></li>
                <li class=""><a href="#cjncourt">Justices</a></li>
                <li class=""><a href="#decision">Decision</a></li>
                <li class=""><a href="#votes">Votes</a></li>
            </ul>
        </div>

        <div id="sections" class="d-flex flex-column bg-dark w-100" style="margin: auto !important;">

            <section id="background" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <div class="mt-4 p-5">
                    <p class="lh-lg">
                        The New York State Board of Regents allowed schools to hold short 
                        prayers as long as they were voluntary, and so these prayers would 
                        be held every morning in several New York schools. The short prayer 
                        they allowed was,
                    </p>
                </div>
                
                <div>
                    <blockquote class="blockquote text-center">
                        <p class="fst-italic fw-light">&#8220;Almighty God, we acknowledge our dependence upon Thee, 
                            and we beg Thy blessings upon us, our parents, our teachers and our country. Amen.&#8221;</p>
                    </blockquote>
                </div>

                <div class="mt-4 p-5">
                    <p class="lh-lg">
                        A group of families who had students from the Herricks Union Free School District came together to argue 
                        against the prayer. They argued that its religious connotations aligned specifically with christianity, 
                        and so it favored one religion over another, mostly due to the part of the prayer that states, “Almighty God”. 
                        Steven I. Engel, a Jewish man who did not agree with the Board of Regents decision, led their attempt and sued 
                        the school board president William J. Vitale. Engel gained the support of many Jewish organizations and others 
                        who wanted to remove prayers from public schools.
                    </p>
                </div>
            </section>

            <section id="cjncourt" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <div class="mt-4 p-5">
                    <p class="lh-lg">
                        Earl Warren was known as a centrist, with support for a number of liberal views while being a Republican himself. 
                        Unlike Warren's bipartisan approach his court is known to be one of the most liberal supreme courts. It's 
                        because of the heavy liberalism in the Warren court that so many civil rights rulings created new acts to 
                        protect people of color.
                    </p>
                </div>
                
                <div>
                    <blockquote class="blockquote text-center">
                        <p class="fst-italic fw-light">&#8220;COURT POLITICAL LINE HERE&#8221;</p>
                    </blockquote>
                    <figcaption class="blockquote-footer text-center">
                        Person <cite title="Source Title">Source</cite>
                    </figcaption>
                </div>

                <div class="mt-4 p-5">
                    <p class="lh-lg">
                        A group of families who had students from the Herricks Union Free School District came together to argue 
                        against the prayer. They argued that its religious connotations aligned specifically with christianity, 
                        and so it favored one religion over another, mostly due to the part of the prayer that states, “Almighty God”. 
                        Steven I. Engel, a Jewish man who did not agree with the Board of Regents decision, led their attempt and sued 
                        the school board president William J. Vitale. Engel gained the support of many Jewish organizations and others 
                        who wanted to remove prayers from public schools.
                    </p>
                </div>
            </section>

            <!-- <section id="sec_3" class="h-100 d-flex flex-column text-light section-cover">
                <div class="mt-4 p-5">
                    <img src="../static/images/pages/engel/engel1.jpg" class="figure-img img-fluid rounded" alt="engel1" style="width: 70vw; height: 40vh; object-fit: cover;">
                    <figcaption class="figure-caption text-light">One of the families who protested against prayer in schools</figcaption>
                    <p class="lh-lg">
                        EXAMPLE:
                        The New York State Board of Regents allowed schools to hold short prayers as long as they were voluntary, and so these prayers would be held every morning in several New York schools. A group of families who had students from the Herricks Union Free School District came together to argue against the prayer. They argued that its religious connotations aligned specifically with christianity, and so it favored one religion over another. Engel led their attempt and sued the school board president William J. Vitale Jr. Engel was Jewish and gained the support of many Jewish organizations and others who wanted to remove prayers from public schools. 
                    </p>
                </div>
                    
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p class="fst-italic fw-light">&#8220;A well-known quote, contained in a blockquote element.&#8221;</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Someone famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                </figure>
            </section>

            <section id="sec_4" class="h-100 d-flex flex-column text-light section-cover">
                <div class="mt-4 p-5">
                    <img src="../static/images/pages/engel/engel1.jpg" class="figure-img img-fluid rounded" alt="engel1" style="width: 70vw; height: 40vh; object-fit: cover;">
                    <figcaption class="figure-caption text-light">One of the families who protested against prayer in schools</figcaption>
                    <p class="lh-lg">
                        EXAMPLE:
                        The New York State Board of Regents allowed schools to hold short prayers as long as they were voluntary, and so these prayers would be held every morning in several New York schools. A group of families who had students from the Herricks Union Free School District came together to argue against the prayer. They argued that its religious connotations aligned specifically with christianity, and so it favored one religion over another. Engel led their attempt and sued the school board president William J. Vitale Jr. Engel was Jewish and gained the support of many Jewish organizations and others who wanted to remove prayers from public schools. 
                    </p>
                </div>
                    
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p class="fst-italic fw-light">&#8220;A well-known quote, contained in a blockquote element.&#8221;</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Someone famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                </figure>
            </section> -->
        </div>
    </body>
</html>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/sidebar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/less" ></script>