<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Civil Rights and Civil Liberties Project</title>

        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>

    <body>
        <div id="bg"></div>
        
        <div class="wrapper">
            <header>
                <nav>
                    <div class="menu-icon">
                       <i class="fa fa-bars fa-2x"></i>
                    </div>
                    <div class="logo">
                        <a class="text-reset text-decoration-none" href="{{ url_for('index') }}">JOSWIN JOHN</a>
                    </div>
                    <div class="menu">
                       <ul class="navbarul">
                        <li><a href="{{ url_for('engel') }}" class="li-left">Engel v. Vitale</a>                                                <a href="{{ url_for('mcdonald') }}" class="li-right">McDonald v. Chicago</a></li>
                        <li><a href="{{ url_for('wisconsin') }}" class="li-left">Wisconsin v. Yoder</a>                                         <a href="{{ url_for('gideon') }}" class="li-right">Gideon v. Wainwright</a></li>
                        <li><a href="{{ url_for('tinker') }}" class="li-left">Tinker v. Des Moines Independent Community School District</a>    <a href="{{ url_for('roe') }}" class="li-right">Roe v. Wade</a></li>
                        <li><a href="{{ url_for('schenck') }}" class="li-left">Schenck v. United States</a>                                     <a href="{{ url_for('brown') }}" class="li-right">Brown v. Board of Education</a></li>
                        <li><a href="{{ url_for('nytc') }}" class="li-left">New York Times Co. v. United States</a>                             <a href="#" class="li-right"></a></li>
                       </ul>
                    </div>
                 </nav>
            </header>
            <div id="sections" class="container d-flex flex-column content">
                <section id="sec_1" class="section-home--intro text-light">
                    <div class="p-5">
                        <h1 id="title" class="title">Civil Rights and Civil Liberties Project</h1>

                        <p class="mt-5">Joswin John</p>
                    </div>
                    <form class="text-center" method="get" action="#sec_2">
                    </form>
                </section>
                
                <section id="sec_2" class="h-100 d-flex flex-column py-5 text-light section-cover">
                    <div class="mt-4 p-5">
                        <h1><a href="{{ url_for('engel') }}" class="title fade-in">Engel v. Vitale</a></h1>
                    </div>
                </section>
                
                <section id="sec_3" class="h-100 d-flex flex-column py-5 text-light section-cover">
                    <div class="mt-4 p-5">
                        <h1><a href="{{ url_for('wisconsin') }}" class="title fade-in">Wisconsin v. Yoder</a></h1>
                    </div>
                </section>

                <section id="sec_4" class="h-100 d-flex flex-column py-5 text-light section-cover">
                    <div class="mt-4 p-5">
                        <h1><a href="{{ url_for('tinker') }}" class="title fade-in">Tinker v. Des Moines Independent Community School District</a></h1>
                    </div>
                </section>

                <section id="sec_5" class="h-100 d-flex flex-column py-5 text-light section-cover">
                    <div class="mt-4 p-5">
                        <h1><a href="{{ url_for('schenck') }}" class="title fade-in">Schenck v. United States</a></h1>
                    </div>
                </section>

                <section id="sec_6" class="h-100 d-flex flex-column py-5 text-light section-cover">
                    <div class="mt-4 p-5">
                        <h1><a href="{{ url_for('nytc') }}" class="title fade-in">New York Times Co. v. United States</a></h1>
                    </div>
                </section>

                <section id="sec_7" class="h-100 d-flex flex-column py-5 text-light section-cover">
                    <div class="mt-4 p-5">
                        <h1><a href="{{ url_for('mcdonald') }}" class="title fade-in">McDonald v. Chicago</a></h1>
                    </div>
                </section>

                <section id="sec_8" class="h-100 d-flex flex-column py-5 text-light section-cover">
                    <div class="mt-4 p-5">
                        <h1><a href="{{ url_for('gideon') }}"class="title fade-in">Gideon v. Wainwright</a></h1>
                    </div>
                </section>

                <section id="sec_9" class="h-100 d-flex flex-column py-5 text-light section-cover">
                    <div class="mt-4 p-5">
                        <h1><a href="{{ url_for('roe') }}" class="title fade-in">Roe v. Wade</a></h1>
                    </div>
                </section>

                <section id="sec_10" class="h-100 d-flex flex-column py-5 text-light section-cover">
                    <div class="mt-4 p-5">
                        <h1><a href="{{ url_for('brown') }}" class="title fade-in">Brown v. Topeka Board of Education</a></h1>
                    </div>
                </section>
            </div>
        </div>
        
    </body>
</html>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/main.js"></script>