<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>McDonald v. Chicago</title>

        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet/less" type="text/css" href="../static/css/sidebar.less" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>

    <body style="margin: 0px !important; background-image: linear-gradient( rgba(0,0,0,.8), rgba(0,0,0,.8) ), url(../static/images/engelbg.jpg); ">
        <div id="bg"></div>

        <div>
            <ul id="sidebar" class="list-unstyled">
                <li class=""><a href="#background">Background</a></li>
                <li class=""><a href="#justices">Justices</a></li>
                <li class=""><a href="#decision">Decision</a></li>
                <li class=""><a href="#clauses">Clauses</a></li>
                <li class=""><a href="#effects">Effects & Today</a></li>
            </ul>
        </div>

        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    <a class="text-reset text-decoration-none" href="{{ url_for('index') }}">JOSWIN JOHN</a>
                </div>
                <div class="menu">
                    <ul class="navbarul">
                    <li><a href="{{ url_for('engel') }}" class="li-left">Engel v. Vitale</a>                                                <a href="{{ url_for('mcdonald') }}" class="li-right">McDonald v. Chicago</a></li>
                    <li><a href="{{ url_for('wisconsin') }}" class="li-left">Wisconsin v. Yoder</a>                                         <a href="{{ url_for('gideon') }}" class="li-right">Gideon v. Wainwright</a></li>
                    <li><a href="{{ url_for('tinker') }}" class="li-left">Tinker v. Des Moines Independent Community School District</a>    <a href="{{ url_for('roe') }}" class="li-right">Roe v. Wade</a></li>
                    <li><a href="{{ url_for('schenck') }}" class="li-left">Schenck v. United States</a>                                     <a href="{{ url_for('brown') }}" class="li-right">Brown v. Board of Education</a></li>
                    <li><a href="{{ url_for('nytc') }}" class="li-left">New York Times Co. v. United States</a>                             <a href="#" class="li-right"></a></li>
                    </ul>
                </div>
                </nav>
        </header>

        <section id="title_sec" class="section-home--intro text-light text-center">
            <h1 class="title" style="margin-left: 10vh;">McDonald v. Chicago</h1>
            <h3>5 - 4</h3>
        </section>

        <div id="sections" class="d-flex flex-column w-100 bg-dark" style="margin: auto !important;">

            <section id="background" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <h3 class="pt-4 mt-5"> Background</h3>

                <div class="mt-4 mb-3">
                    <p class="lh-lg">
                        Otis McDonald was a man who lived in a high crime area of Chicago typically ridden over by various gangs, and so his home had been robbed 5 separate times. McDonald owned several guns for hunting but none of which were very reliable in the case of a break in. Chicago at the time had very restrictive handgun laws, and so McDonald didn’t have a great way to protect his property. McDonald argued in court saying that the previous District of Columbia v. Heller case assured that putting a ban on guns was unconstitutional since it violated the second amendment. His case was dismissed in the district court, and he lost in the circuit court, so appealed to the U.S. Supreme Court and was given a hearing for his case on Mar 2, 2010. 
                    </p>
                </div>

                <div class="text-center">
                    <blockquote class="blockquote font-italic" style="background: transparent;">
                        <p class="fst-italic fw-light">
                            Meaning of the Operative Clause [of the 2nd Amendment]. Putting all of these textual elements together, we find that they guarantee the individual right to possess and carry weapons in case of confrontation.
                        </p>
                    <blockquote>
                    <figcaption class="blockquote-footer">
                        Antonin Scalia in <cite title="Source Title"><a href="{{ url_for('pdf', pdfn='columbiaop') }}">District of Columbia v. Heller Majority Opinion</a></cite>
                    </figcaption>
                </div>
                   

            </section>

            <section id="justices" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <h3>Justices</h3>

                <div class="mt-4 pb-5">
                    <p class="lh-lg">
                        Chief Justice John Roberts himself is certainly more conservative than Justices like Burger due to his nomination by President George W. Bush, but is still open to liberal ideas every so often. As for his court it is extremely conservative, being one of the most conservative courts since the 1950s, even more than the preceding Rehnquist Court.
                    </p>
                </div>


            </section>

            <section id="decision" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <h3>Decision</h3>

                <div class="mt-4">
                    The court voted 5-4 in favor of reversing the decision of the seventh circuit court. This decision Selectively incorporated the 2nd Amendment so that the states would have to follow the 2nd Amendment during their law making process as the federal government does.
                </div>

                <div class="mt-3 mb-3">
                    <img alt="schenckvotes" class="img-fluid rounded w-100" src="../static/images/pages/mcdonald/mcdonald-votes.png">
                </div>

                <div class="mt-4">
                    <div class="d-inline-block" style="float: left; width: 35%;">
                        <img alt="justicealito" style="height: 55vh;" class="img-fluid rounded justice_imgs" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Samuel_Alito_official_photo.jpg">
                        <figcaption class="mt-3 mb-3">Samuel A. Alito</figcaption>
                    </div>
                    
                    <div class="d-inline-block justice_texts" style="float: right; width: 65%;">
                        <div class="mt-2 pb-5">
                            Justice Samuel A. Alito wrote the majority opinion for the court, explaining that the 2nd Amendment does apply to state law through the 14th Amendment because it was a “fundamental” right of the United States. Justice Alito also states that the Due Process clause of the 14th Amendment includes the 2nd Amendment because of the precedent Heller case.
                        </div>
        
                        <div class="text-center">
                            <blockquote class="blockquote font-italic" style="background: transparent;">
                                <p class="fst-italic fw-light">
                                    Our decision in Heller points unmistakably to the answer. Self-defense is a basic right, recognized by many legal systems from ancient times to the present day,15 and in Heller, we held that individual self-defense is “the central component” of the Second Amendment right.
                                </p>
                            <blockquote>
                            <figcaption class="blockquote-footer">
                                Samuel A. Alito in <cite title="Source Title"><a href="{{ url_for('pdf', pdfn='mcdonaldop') }}">McDonald v. Chicago Majority Opinion</a></cite>
                            </figcaption>
                        </div>

                        <div class="mt-2 mb-4">
                            Justice Black explains that for the President to use his powers to violate the first amendment is exactly what destroys the security of the people, even though he is violating it for what he claims is security for the people. He later explains that the word security itself is too vague to be used in this case, and disregarding the first amendment for it isn’t an action the court should take.
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="d-inline-block" style="float: left; width: 35%;">
                        <img alt="justicebreyer" style="height: 55vh;" class="img-fluid rounded justice_imgs" src="https://api.oyez.org/sites/default/files/images/people/stephen_g_breyer/stephen_g_breyer.jpg">
                        <figcaption class="mt-3 mb-3">Stephen G. Breyer</figcaption>
                    </div>
                    
                    <div class="d-inline-block justice_texts" style="float: right; width: 65%;">
                        <div class="mt-2 pb-5">
                            Justice Stephen G. Breyer, Justice Ruth Bader Ginsburg, and Justice Sonia Sotomayor, all dissented, all of which believed that the second amendment does not contain any material that makes it a “fundamental right.” Justice John Paul Stevens also wrote a dissenting opinion, writing that owning a gun was not a liberty granted by the second amendment, and in turn was not protected by the due process clause. 
                        </div>
        
                        <div class="text-center">
                            <blockquote class="blockquote font-italic" style="background: transparent;">
                                <p class="fst-italic fw-light">
                                    I can find nothing in the Second Amendment's text, history, or underlying rationale that could warrant characterizing it as 'fundamental'
                                </p>
                            <blockquote>
                            <figcaption class="blockquote-footer">
                                Stephen G. Breyer in <cite title="Source Title"><a href="{{ url_for('pdf', pdfn='mcdonaldop') }}">McDonald v. Chicago Dissenting Opinion</a></cite>
                            </figcaption>
                        </div>
                    </div>
                </div>
            </section>

            <section id="clauses" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <h3>Clauses</h3>
                
                <h4 class="mt-4 pb-4">
                    Due Process clause of the 14th Amendment
                </h4>
                
                <div class="mt-3 pb-5">
                    <p class="lead">No State shall make or enforce any law which shall abridge the privileges or immunities of citizens of the United States; <span class="text-decoration-underline">nor shall any State deprive any person of life, liberty, or property, without due process of law;</span> nor deny to any person within its jurisdiction the equal protection of the laws.</p>
                </div>
            </section>

            <section id="effects" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <h3 id="effects-pointer">Effects & Today</h3>

                <div class="mt-4 mb-3">
                    To this day the debate of whether gun laws, and how to interpret the second amendment continues, with cases very recently like the New York State Rifle & Pistol Association, Inc. v. Bruen which are also very similar to McDonald v. Chicago where the state does not legalize certain firearms, and so they were sued for prohibiting them.
                </div>

                <div class="mt-4 pb-3">
                    <img alt="nytcpaper" class="img-fluid rounded" src="../static/images/pages/mcdonald/mcdonaldimg.jpg">
                    <figcaption class="mt-2 mb-2">McDonald arguing for gun rights</figcaption>
                </div> 
            </section>
        </div>
    </body>
</html>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/sidebar.js"></script>
<script src="../static/js/justices.js"></script>
<script src="https://cdn.jsdelivr.net/npm/less" ></script>