<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Schenck v. United States</title>

        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet/less" type="text/css" href="../static/css/sidebar.less" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>

    <body style="margin: 0px !important; background-image: linear-gradient( rgba(0,0,0,.8), rgba(0,0,0,.8) ), url(../static/images/engelbg.jpg); ">
        <div id="bg"></div>

        <div>
            <ul id="sidebar" class="list-unstyled">
                <li class=""><a href="#background">Background</a></li>
                <li class=""><a href="#justices">Justices</a></li>
                <li class=""><a href="#decision">Decision</a></li>
                <li class=""><a href="#clauses">Clauses</a></li>
                <li class=""><a href="#effects">Effects & Today</a></li>
            </ul>
        </div>

        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    <a class="text-reset text-decoration-none" href="{{ url_for('index') }}">JOSWIN JOHN</a>
                </div>
                <div class="menu">
                    <ul class="navbarul">
                    <li><a href="{{ url_for('engel') }}" class="li-left">Engel v. Vitale</a>                                                <a href="{{ url_for('mcdonald') }}" class="li-right">McDonald v. Chicago</a></li>
                    <li><a href="{{ url_for('wisconsin') }}" class="li-left">Wisconsin v. Yoder</a>                                         <a href="{{ url_for('gideon') }}" class="li-right">Gideon v. Wainwright</a></li>
                    <li><a href="{{ url_for('tinker') }}" class="li-left">Tinker v. Des Moines Independent Community School District</a>    <a href="{{ url_for('roe') }}" class="li-right">Roe v. Wade</a></li>
                    <li><a href="{{ url_for('schenck') }}" class="li-left">Schenck v. United States</a>                                     <a href="{{ url_for('brown') }}" class="li-right">Brown v. Board of Education</a></li>
                    <li><a href="{{ url_for('nytc') }}" class="li-left">New York Times Co. v. United States</a>                             <a href="#" class="li-right"></a></li>
                    </ul>
                </div>
                </nav>
        </header>

        <section id="title_sec" class="section-home--intro text-light text-center">
            <h1 class="title" style="margin-left: 10vh;">Schenck v. United States</h1>
            <h3>9 - 0</h3>
        </section>

        <div id="sections" class="d-flex flex-column w-100 bg-dark" style="margin: auto !important;">

            <section id="background" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <h3 class="pt-4 mt-5"> Background</h3>

                <div class="mt-4 mb-3">
                    <p class="lh-lg">
                        In 1917 The general secretary of the socialist party of America, Charles Schenck printed out over 15,000 copies of a paper that said the draft for WWI was unconstitutional and violated the 13th amendment, and so people should resist the draft. He distributed them from Philadelphia, and amassed a large number of people to sit back and not join the war. By doing this Schenck was supposedly violating The Espionage act of 1917 which gave the government the power to incriminate anyone who publicly criticized the war or tried to dissolve the draft, and so he was detained by the federal government along with his colleague Elizabeth Baer.
                    </p>
                </div>

                <div class="text-center">
                    <blockquote class="blockquote font-italic" style="background: transparent;">
                        <p class="fst-italic fw-light">
                            Whoever, when the United States is at war ... shall willfully obstruct the recruiting or enlistment service of the United States, to the injury of the service or of the United States, shall be punished by a fine of not more than $10,000 or imprisonment for not more than twenty years, or both.
                        </p>
                    <blockquote>
                    <figcaption class="blockquote-footer">
                        <cite title="Source Title"><a href="{{ url_for('pdf', pdfn='espionage-act') }}">Espionage Act of 1917</a></cite>
                    </figcaption>
                </div>

                <div class="mt-4 mb-3">
                    Baer and Schneck fought in the district court for Pennsylvania and lost, so they appealed to the U.S. Supreme Court.
                </div>
            </section>

            <section id="justices" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <h3>Justices</h3>

                <div class="mt-4 pb-5">
                    <p class="lh-lg">
                        Chief Justice Edward Douglass White was heavily conservative, along with his court. Conservatism in the supreme court was a trend in the early 1900s to the 1930s. Justice White also supported selective drafting in the Selective Draft cases. His court was not as conservative as previous courts, but was still generally conservative.
                    </p>
                </div>


            </section>

            <section id="decision" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <h3>Decision</h3>

                <div class="mt-4">
                    The court voted unanimously in favor of the United States, claiming that the Espionage Act, and the selective draft did not violate the first amendment.
                </div>

                <div class="mt-3 mb-3">
                    <img alt="schenckvotes" class="img-fluid rounded w-100" src="../static/images/pages/schenck/schenck-votes.png">
                </div>

                <div class="mt-4">
                    <div class="d-inline-block" style="float: left; width: 35%;">
                        <img alt="justiceholmes" style="height: 55vh;" class="img-fluid rounded justice_imgs" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Oliver_Wendell_Holmes_Jr_circa_1930-edit.jpg">
                        <figcaption class="mt-3 mb-3">Oliver Wendel Holmes</figcaption>
                    </div>
                    
                    <div class="d-inline-block justice_texts" style="float: right; width: 65%;">
                        <div class="mt-2 pb-5">
                            Justice Oliver Wendell Holmes wrote the majority opinion for the unanimous decision, writing that the Espionage act is constitutional, and did not violate the first amendment. He defended his argument by writing that the first amendment only protected free speech when it did not create a “clear and present danger” to the nation. He believes that a major opposition to the draft would hinder the United States Armed Forces during WWI and in turn would create a sense of danger.
                        </div>
        
                        <div class="text-center">
                            <blockquote class="blockquote font-italic" style="background: transparent;">
                                <p class="fst-italic fw-light">
                                    Words which, ... would be Within the freedom of speech protected by the First Amendment, may become subject to prohibition when of such a nature and used in such circumstances as to create a clear and present danger.
                                </p>
                            <blockquote>
                            <figcaption class="blockquote-footer">
                                Oliver Wendell Holmes in <cite title="Source Title"><a href="{{ url_for('pdf', pdfn='wisconsinop') }}">Schenck v. United States Majority Opinion</a></cite>
                            </figcaption>
                        </div>

                        <div class="mt-2 mb-4">
                            In this case both  Justices Lewis Powell and William Rehnquist did not decide on the case leaving it as a unanimous decision.
                        </div>
                    </div>
                </div>
            </section>

            <section id="clauses" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <h3>Clauses</h3>
                
                <h4 class="mt-4 pb-4">
                    Freedom of Speech in the First Amendment of the Constitution.
                </h4>
                
                <div class="mt-3 pb-5">
                    <p class="lead">Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof;<span class="text-decoration-underline"> or abridging the freedom of speech, or of the press;</span> or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</p>
                </div>
            </section>

            <section id="effects" class="h-100 d-flex flex-column text-light section-cover" style="margin: auto; width: 68%;">
                <h3 id="effects-pointer">Effects & Today</h3>

                <div class="mt-4 mb-3">
                    Schenck v. United States did not overturn any precedent cases, although it did attempt to overturn the decision from the Selective Draft Cases, and repeal the Selective Service Act. 
                </div>

                <div class="mt-4 mb-3">
                    Although drafting has not been deemed unconstitutional to this date, the military has been entirely volunteer based since 1973. More relevantly the right to speak out against, or oppose drafting was deemed constitutional by the Brandenburg v. Ohio case which somewhat overturned the Schenck v. U.S. case. Brandenburg v. Ohio was a case between a Ku Klux Klan leader and Ohio which removed the “clear and present danger” test that Justice Holmes implemented and increased the scope of constitutional free speech to all speech that did not incite “imminent lawless action.” Although this did keep much of the Espionage Act 1917 intact, and so even today the act is still in effect.
                </div>
            </section>
        </div>
    </body>
</html>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/sidebar.js"></script>
<script src="../static/js/justices.js"></script>
<script src="https://cdn.jsdelivr.net/npm/less" ></script>