<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Wisconsin v. Yoder</title>

        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>

    <body style="background-image: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7) ), url(../static/images/wisconsin.jpg); background-attachment: fixed;">
        <div id="bg"></div>
        
        <div class="wrapper">
            <header>
                <nav>
                    <div class="menu-icon">
                       <i class="fa fa-bars fa-2x"></i>
                    </div>
                    <div class="logo">
                        <a class="text-reset text-decoration-none" href="{{ url_for('index') }}">JOSWIN JOHN</a>
                    </div>
                    <div class="menu">
                       <ul class="navbarul">
                        <li><a href="{{ url_for('engel') }}" class="li-left">Engel v. Vitale</a>                                                <a href="{{ url_for('mcdonald') }}" class="li-right">McDonald v. Chicago</a></li>
                        <li><a href="{{ url_for('wisconsin') }}" class="li-left">Wisconsin v. Yoder</a>                                         <a href="{{ url_for('gideon') }}" class="li-right">Gideon v. Wainwright</a></li>
                        <li><a href="{{ url_for('tinker') }}" class="li-left">Tinker v. Des Moines Independent Community School District</a>    <a href="{{ url_for('roe') }}" class="li-right">Roe v. Wade</a></li>
                        <li><a href="{{ url_for('schenck') }}" class="li-left">Schenck v. United States</a>                                     <a href="{{ url_for('brown') }}" class="li-right">Brown v. Board of Education</a></li>
                        <li><a href="{{ url_for('nytc') }}" class="li-left">New York Times Co. v. United States</a>                             <a href="#" class="li-right"></a></li>
                       </ul>
                    </div>
                 </nav>
            </header>
            <div id="sections" class="container d-flex flex-column content">
                <section id="sec_1" class="section-home--intro text-light">
                    <h1 class="title">Schenck v. United States</h1>
                    <p class="fst-italic" style="margin-top: 20vh;">1962</p>
                </section>

                <section id="sec_2" class="h-100 d-flex flex-column py-5 text-light text-bg-dark section-cover">
                    <div class="mt-4 p-5">
                        <p class="lh-lg">
                            EXAMPLE:
                            The New York State Board of Regents allowed schools to hold short prayers as long as they were voluntary, and so these prayers would be held every morning in several New York schools. A group of families who had students from the Herricks Union Free School District came together to argue against the prayer. They argued that its religious connotations aligned specifically with christianity, and so it favored one religion over another. Engel led their attempt and sued the school board president William J. Vitale Jr. Engel was Jewish and gained the support of many Jewish organizations and others who wanted to remove prayers from public schools. 
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/main.js"></script>